/* * {
    border: solid 1px red;
} */

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    /* border: solid 1px red; */
}
.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
  }

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}
.footer-content {
    color: #e5e7eb;
    
}

.left {
    /* border: solid 1px red; */
}
.logo {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.content {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box {
    flex-basis: 215px;
    border: solid 1px red;
    display: flex;
    flex: 1;

}

.box .one {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}


.one .child-one {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:#1f2937;;
    color: #e5e7eb;
    width: 200px;

}

.one .child-two {
    background-color: #1f2937;
    color: #e5e7eb;
    flex: 1;
    width: 200px;
}

.two {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
}

.two .child-one {
    text-align: center;
}

.two .child-two {
    display: flex;
    justify-content: space-around;
}

.info{
    display: flex;
    flex: 1;
    max-width: 150px;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    border: solid 3px #3882f6;
    padding: 50px;
    max-width: 200px;
    border-radius:10px;
    

    
}

.text {
    text-align:  center;
    width: 200px;
}

.three {
   background-color: #E5E7Eb;
   display: flex;
   align-items: center;
   justify-content: center;
  
}

.quote {
    display: flex;
    flex: 1;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding: 20px 50px 20px 50px;
    
}

.four{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

.blue-box {
   background-color: #3882f6;
   border: solid 1px #3882f6;
   border-radius:5px;
   flex: 1;
   display: flex;
}

.text-blue{
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
}
.call {
    font-size: 18px ;
    font-weight: bold;
    margin: 0px;
}

.sub-call {
    margin: 0px;
}

.button-blue button{
    background-color: #3882f6;
    color: #e5e7eb;
}