/* * {
    border: solid 1px red;
} */

body {
    height: 185vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 300px 0px 300px;
    /* border: solid 1px red; */
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.logo h2 {
    margin: 0px;
}

.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
  }

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}
.footer-content {
    color: #e5e7eb;
    
}

.left {
    /* border: solid 1px red; */
}
.logo {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.content {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box {

    display: flex;
    flex:1;
}

.one {
    display: flex;
    flex-direction: column;
    background-color:#1f2937;
    padding-left: 300px;
    padding-right: 300px;

    
    /* background-color: blue; */
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    gap: 20px;
}

.one .child-one {
    display: flex;
    flex-direction: column;
    background-color:#1f2937;
    color: #e5e7eb;
    height: 300px;
    width: 400px;
    
}

.one .child-one h1 {
    font-size: 48px;
    margin: 0px;
}

.one .child-one p {
    margin: 0px;
}

.one .child-one button {
    background-color: #3882f6;
    border: solid #3882f6;
    border-radius: 10px;
    margin-right: 250px;
    color: #F9FAF8;
}

.one .child-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    flex: 1;
    
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3b6b9cb;
    height: 225px;
    width: 425px;
    
}

.two {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
}

.two .child-one {
    text-align: center;
}

.two .child-one h2 {
    font-size: 36px;
}

.two .child-two {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: 1;
    max-width: 150px;
    
}

.card {
    display: flex;
    flex: 1;
    border: solid 4px #3882f6;
    min-height: 144px;
    border-radius:10px;
    align-self: stretch;
    

    
}

.text {
    text-align: left ;
    flex: 1;
}

.three {
   background-color: #E5E7Eb;
   display: flex;
   flex-direction: column;
   padding-left: 450px;
   padding-right: 450px;

  
}

.quote {
    display: flex;
    flex: 1;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    /* margin: 0px;
    padding: 0px; */
   
    
}

.quote p {
    flex: 1;
    padding-top: 100px;
    margin-bottom: 0px;
    
    /* margin: 30px 40px 0px 40px; */
}

.sub-quote {
    display: flex;
    max-height: 100px;
    justify-content: flex-end;
    flex: 1;
    margin: 0;
    padding: 0;
    
    margin-right: 80px;
}

.sub-quote p {
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
}

.four{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    margin: 0px;
    max-height: 300px;
}

.blue-box {
   background-color: #3882f6;
   border: solid 1px #3882f6;
   border-radius:10px;
   flex: 1;
   display: flex;
   justify-content: space-around;
   margin-left: 75px;
   margin-right: 75px;
   padding-top: 50px;
   padding-bottom: 50px;
}

.text-blue{
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 80px;
    flex-grow: 2;
}
.call {
    font-size: 18px ;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 20px;
}

.sub-call {
    margin: 0px;
}

.button-blue {
    flex: 1;
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;

}

.button-blue button {
    background-color: #3882f6;
    border: solid;
    border-color: #e5e7eb;
    color: #e5e7eb;
    border-radius:10px;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    
}